{{ "=" * width }}
{{ title | upper | center(width) }}
{% if caption %}
{{ caption | center(width) }}
{% endif %}
{{ date | default(now, true) | center(width) }}
{{ "=" * width }}

{% if content %}
{{ content }}

{% endif %}
{% for item in items %}
[{{ "X" if item.checked else " " }}] {{ item.text }}

{% endfor %}