{{ "=" * width }}
{{ title | upper | center(width) }}
{% if caption %}
{{ caption | center(width) }}
{% endif %}
{{ date | default(now, true) | center(width) }}
{{ "=" * width }}

{% if priority %}
[{{ priority | upper }}]
{% endif %}

{{ content }}

{% if tags %}
{{ "-" * width }}
Tags: {{ tags | join(', ') }}
{% endif %}