{{ "=" * width }}
{{ title | upper | center(width) }}
{{ date | default(now, true) | center(width) }}
{{ "=" * width }}

{% if priority %}
[{{ priority | upper }}] {{ "[DONE]" if completed else "" }}
{% endif %}

{{ description }}

{% if due_date %}
Due: {{ due_date }}
{% endif %}