{{ "=" * width }}
{{ title | upper | center(width) }}
{{ date | default(now, true) | center(width) }}
{{ "=" * width }}
{% if caption %}
{{ caption | center(width) }}
{% endif %}
{{ STYLED_CONTENT_MARKER }}
